{% extends "blog/site_base.html" %}

{% load static %}

{% block title %} {{ post.title }} {% endblock %}

{% block content %}

    <h1>Sobre</h1>
    <p>
        AnimaCritic é um Blog de resenhas que reúne toda a comunidade entusiasta de animações
        japonesas dentro da Cesar School ou fora também!
        Inspirado na comunidade do AnimaClub na CESAR School
        Usuários podem escrever posts falando sobre novos episódios,
        opiniões, lançamentos, críticas e até fazer recomendações sobre seus mangás,
        filmes ou animações japonesas favoritas, também poderão comentar interagir no
        posts de outros usuários, discutir, compartilhar, quanto mais gente, melhor!
    </p>
    
{% endblock %}