{% extends "blog/base.html" %}

{% load static %}

{% block title %} Post list {% endblock %}

{% block content %}
    
    {% for post in post_list %}

    {% if forloop.counter0 == 0 %} 

    <div class="col-lg-16">
        <div class="card mb-4">
            <a href="{{post.get_absolute_url}}#posts"><img class="card-img-top" src="{% static 'assets/700.png' %}" alt="..." /></a>
            <div class="card-body">
                <div class="small text-muted">{{ post.created }}</div>
                <h2 class="card-title">{{ post.title }}</h2>
                <p class="card-text">{{ post.content|safe|linebreaks|truncatewords:30 }}</p>
                <a class="btn btn-danger" href="{{post.get_absolute_url}}#posts">Ler mais →</a>
                {% if user.is_authenticated %}
                    {% if user.id == post.author.id %}
                        <a class="btn btn-danger" href="{% url 'update_post' post.pk %}"> Editar </a> 
                        <a class="btn btn-danger" href="{% url 'delete_post' post.pk %}"> Deletar </a> 
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

    {% endif %}

    <!-- Blog post-->
    <div class="col-lg-6">
        <div class="card mb-4">
            <a href="{{post.get_absolute_url}}#posts"><img class="card-img-top" src="{% static 'assets/850.png' %}" alt="..." /></a>
            <div class="card-body">
                <div class="small text-muted">{{ post.created }}</div>
                <h2 class="card-title h4">{{ post.title }}</h2>
                <p class="card-text">{{ post.content|safe|linebreaks|truncatewords:30 }}</p>
                <a class="btn btn-danger" href="{{post.get_absolute_url}}#posts">Ler mais →</a>
                {% if user.is_authenticated %}
                    {% if user.id == post.author.id %}
                        <a class="btn btn-danger" href="{% url 'update_post' post.pk %}"> Editar </a> 
                        <a class="btn btn-danger" href="{% url 'delete_post' post.pk %}"> Deletar </a> 
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div> 

    {% endfor %}

{% endblock %}


